* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    background-color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball1{
    background-color: aquamarine;
}

.ball2 {
    background-color: purple;
}

.ball3{
    background-color: sandybrown;
}

.ball4{
    background-color: darkblue;
}